.header-container {
  font-family: Intro;
  color: white;
  margin: auto;
  text-align: center;
}
form, form > *, form > * > *{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
form > input {
  display: block;
  font-size: 18px;
  line-height: 50px;
  height: 50px;
  width: 24%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 100px 0 #FFF, 1px 76px 10px #000;
  color: #5D8EC7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.chat {
  cursor: pointer;
  margin: 20px auto 0;
  width: 60%;
  border: 1px white solid;
  text-align: start;
  padding: 14px;
  transition: all 1s ease-in-out;
}

.chat:hover {
  background: rgba(231, 248, 255, 0.18);
  border-radius: 16px;
}
.button {
  margin-bottom: 12px;
  overflow: hidden;
  width: 100%;
}

a.ddott {
  cursor: pointer;
  display: block;
  line-height: 50px;
  height: 50px;
  width: 24%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 100px 0 #FFF, 1px 76px 10px #000;
  color: #FFF;
  background: #5D8EC7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

a.ddott:hover {
  text-shadow: 0 50px 0 #5D8EC7;
  margin-top: -50px;
  height: 100px;
  background: #FFF;
}
select {
  display: block;
  font-size: 18px;
  line-height: 50px;
  height: 50px;
  width: 24%;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 100px 0 #FFF, 1px 76px 10px #000;
  color: #5D8EC7;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

option, select {
  width: 50%;
  margin: 0 auto;
  font-family: Intro;
}

@media screen and (max-width: 1020px) {
  .chat {
    width: 80%;
    padding: 16px;
  }
  form > input, a.ddott {
    text-shadow: 0 114px 0 #FFF;
    line-height: 64px;
    height: 64px;
    font-size: 18px;
    width: 80%;
  }

  a.ddott:hover {
    text-shadow: 0 64px 0 #5D8EC7;
    margin-top: -64px;
    height: 128px;
  }
  select {
    height: 80px;
    font-size: 36px;
    width: 90%;
  }

  .chat > h3 {
    line-height: 35px;
    font-size: 28px;
  }

  .chat > h5 {
    line-height: 35px;
    font-size: 24px;
  }

  .chat > p {
    line-height: 35px;
    font-size: 22px;
  }
}
