<div class="header-container" style="display: block; padding-top: 50px; padding-bottom: 50px">
  <div onclick="add_task()" class="chat" style="border-width: 3px; text-align: center;">
    <h3>Добавить задачу</h3>
  </div>
  <form id="add_task" style="margin-top: 10px; display: none">
    <input type="text" placeholder="Название">
    <input type="text" placeholder="Описание">
    <input type="date" placeholder="Дедлайн">
    <div class="button"><a href="menu.html" class="ddott">Добавить</a></div>
  </form>
  <!-- for chat in chats ...-->
  <div onclick="task(1)" class="chat">
    <!--name-->
    <h3>Сделать 5 заказов</h3>
    <!--curdate-dedline-->
    <p style="margin-top: 12px">осталось 3 дня</p>
  </div>

</div>
