<div class="header-container" style="display: block; padding-top: 50px; padding-bottom: 50px">
  <h1>{{chat.client}}</h1>
  <hr style="margin-top: 1%; margin-bottom: 2%">
  <form (submit)="send_message()">
    <textarea [(ngModel)]="message" name="message" style="text-align: start;"></textarea>
    <div (click)="send_message()" class="button"><a class="ddott">Отправить</a></div>
    <div (click)="addZakaz()" class="button"><a class="ddott">Добавить заказ</a></div>
  </form>
  <hr style="margin-top: 1%; margin-bottom: 2%">
  <ng-container *ngFor="let mes of messages">
    <div *ngIf="!mes.to_client" style="width: 50%; margin-left: 20%" class="chat">
      <!--text-->
      <h5>{{mes.message}}</h5>
      <!--lastmessage-->
      <p style="text-align: end">{{mes.date}}</p>
    </div>
    <div *ngIf="mes.to_client" style="width: 50%; margin-right: 20%" class="chat">
      <!--text-->
      <h5>{{mes.message}}</h5>
      <!--lastmessage-->
      <p style="text-align: end">{{mes.date}}</p>
    </div>
  </ng-container>
</div>
