<div class="signup-content">
  <h1>Зарегистрируйтесь и начните работу!</h1>
  <form (ngSubmit)="onSubmit()">
    <p>ФИО</p>
    <input type="text" [(ngModel)]="FIO" name="FIO" placeholder="Как вас зовут?">
    <p>Логин</p>
    <input type="text" [(ngModel)]="login" name="login" placeholder="Как назвать вас на сайте?">
    <p>Пароль</p>
    <input type="password" [(ngModel)]="password" name="password" placeholder="Ваша защита?">
    <input type="password" [(ngModel)]="password2" name="password2" placeholder="Повторите?">
    <div style="margin-top: 3vh;" class="button"><a class="ddott">Зарегистрироваться</a></div>
  </form>
</div>
