<div class="main-content">
  <h1>Лучшая CRM система в своем ценовом сегменте!</h1>
  <h2>Наши функциональные возможности позволят Вам эффективно управлять Вашим бизнесом уже сегодня!</h2>
  <ul>
    <li>Рассылка сообщений</li>
    <li>Отслеживание заказов</li>
    <li>Календарь важных событий</li>
    <li>Телеграм бот</li>
    <li>... и многое другое!</li>
  </ul>
  <div class="button"><a routerLink="/signin" class="ddott">Войти</a></div>
  <div class="button"><a routerLink="/signup" class="ddott">Зарегистрироваться</a></div>
</div>
