<div class="header-container" style="display: block; padding-top: 50px; padding-bottom: 50px">
  <select [(ngModel)]="socnet">
    <option value="all" selected>Все сообщения</option>
    <ng-container *ngFor="let soc of socials">
      <option value="{{ soc }}">{{ soc }}</option>
    </ng-container>
  </select>
  <form (submit)="saveTelegramId()" style="margin-bottom: 2%">
    <input type='text' [(ngModel)]="telegramId" name="telegramId" placeholder="Введите ключ вашего бота...">
  </form>
  <ng-container *ngFor="let chat of chats">
    <div (click)="to_mess(chat.id)" [ngClass]="{'completed': chat.read}" *ngIf="chat.socnet == socnet || socnet == 'all'" class="chat">
      <h3>{{chat.clientname}}</h3>
      <h5>{{chat.socnet}}</h5>
      <p style="text-align: end">{{chat.lastdate}}</p>
    </div>
  </ng-container>
</div>
