<div class="header-container" style="display: block; padding-top: 50px; padding-bottom: 50px">
  <select>
    <option value="all">Все сообщения</option>
    <option value="Inst">Instagram</option>
    <option value="Tele">Telegram</option>
    <option value="Viber">Viber</option>
    <option value="Gmail">Gmail</option>
  </select>
  <!-- for chat in chats ...-->
  <div onclick="document.location.href = '/messages/1'" class="chat">
    <!--name-->
    <h3>Русак Владислав</h3>
    <!--social-->
    <h5>Телеграм</h5>
    <!--lastmessage-->
    <p style="text-align: end">3.19.2023 / 11.27</p>
  </div>

</div>
