<div class="header-container" style="display: block; padding-top: 50px; padding-bottom: 50px">
    <!--user-->
    <h1>Пользователь</h1>
    <hr style="margin-top: 1%; margin-bottom: 2%">
        <form>
            <h2>Подписка</h2>
            <!--user.subscription-->
            <select style="margin: 12px auto">
                <option value="Try">Пробная</option>
                <option value="Telegram">Телеграм</option>
                <option value="Email">Почта и Вайбер</option>
                <option value="All">Все включено</option>
            </select>
            <div class="button"><a href="" class="ddott">Купить</a></div>
        </form>
    <hr style="margin-top: 1%; margin-bottom: 2%">
        <form>
            <h2 style="margin-bottom: 12px">Информация</h2>
            <input type="email" placeholder="Почта">
            <input type="text" placeholder="Телефон">
            <div class="button"><a href="" class="ddott">Сохранить</a></div>
        </form>
<!--    if admin-->
<!--        <form style="margin-bottom: 2%">-->
<!--            <input type='text' placeholder="Поиск пользователя">-->
<!--        </form>-->
<!--        &lt;!&ndash; for user in users&ndash;&gt;-->
<!--        <form>-->
<!--            <h2>User</h2>-->
<!--            &lt;!&ndash;user.subscription&ndash;&gt;-->
<!--            <select style="margin: 12px auto">-->
<!--                <option value="Try">Пробная</option>-->
<!--                <option value="Telegram">Телеграм</option>-->
<!--                <option value="Email">Почта и Вайбер</option>-->
<!--                <option value="All">Все включено</option>-->
<!--            </select>-->
<!--            &lt;!&ndash;post&ndash;&gt;-->
<!--            <div class="button"><a href="" class="ddott">Изменить</a></div>-->
<!--        </form>-->
</div>
