* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Intro';
    src: url('./assets/Intro.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #30cfd0, #330867) no-repeat;
    animation: showBlock 1s ease-in-out;
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
